In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_excel(r'C:\Users\USER\Desktop\estate\bengaluru.xlsx',engine='openpyxl')
data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2022-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2022-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [3]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
data = data.fillna({'location': 'Doddathoguru'})
data.isnull().sum()

area_type          0
availability       0
location           0
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [11]:
data.dtypes

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [17]:
data['size'] = data['size'].fillna(method='ffill')

In [19]:
data.isnull().sum()

area_type          0
availability       0
location           0
size               0
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [20]:
data['society'] = data['society'].fillna(method='ffill')

In [30]:
bath_mean = data['bath'].mean()
balcony_mean = data['balcony'].mean()

data.replace({'bath': {np.nan:bath_mean},
             'balcony': {np.nan:balcony_mean}},inplace=True)

In [32]:
data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2022-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.000000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Theanmp,1440,2.0,3.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.000000,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,Soiewre,1200,2.0,1.000000,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.000000,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,ArsiaEx,3600,5.0,1.584376,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.000000,60.00
13318,Super built-up Area,2022-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.000000,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,SollyCl,550,1.0,1.000000,17.00

In [36]:
data1 = data.drop(['availability','area_type','society'],axis='columns')
data1

                       location       size total_sqft  bath   balcony   price
0      Electronic City Phase II      2 BHK       1056   2.0  1.000000   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  3.000000  120.00
2                   Uttarahalli      3 BHK       1440   2.0  3.000000   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0  1.000000   95.00
4                      Kothanur      2 BHK       1200   2.0  1.000000   51.00
...                         ...        ...        ...   ...       ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  0.000000  231.00
13316             Richards Town      4 BHK       3600   5.0  1.584376  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0  1.000000   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  1.000000  488.00
13319              Doddathoguru      1 BHK        550   1.0  1.000000   17.00

[13320 rows x 6 columns]

In [37]:
data1.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [50]:
data1['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [51]:
data1['no_bedrooms'] = data1['size'].apply(lambda x: int(x.split(' ')[0]))

In [63]:
data1 = data1.drop('balcony',axis='columns')

In [65]:
data1['total_sqft'].unique()

array([1056, 2600, 1440, ..., '1133 - 1384', 774, 4689], dtype=object)

In [79]:
def float_converter(x):
    try:
        return float(x)
    except:
        return x

In [80]:
data1['total_sqft'] = data1['total_sqft'].apply(float_converter)
data1

In [70]:
def convert_sqft_to_mean(x):
    num = x.split('-')
    if len(num) == 2:
        return (float(num[0]) + float(num[1]))/2
    try:
        return float(x)
    except:
        return none

In [72]:
data2 = data1.copy()
data2['total_sqft'] = data2['total_sqft'].apply(convert_sqft_to_)

AttributeError: 'int' object has no attribute 'split'